main{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin: 2rem .5rem 2rem;
    border-radius: 5%;
    box-shadow: 10px 10px 5px 0px var(--nav-color);
    
}
#intro img{
    width: 90%;
    margin: 1rem;
    border-radius: 15%;
    border: 2px solid var(--brighter-color);
}
#skills{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}
h1,h2{
    color: var(--brighter-color);
}
h2{
    width: 100%;
    padding: 1rem;
}

h3{
    width: 50%;
}
ul{
    padding: 1rem;
}
/* tablet screen */
@media screen and (min-width:768px){
    main{
        margin: 1rem 10% 1rem;
        
    }
    #intro {
        display: flex;
        justify-content: space-between;
    }
    #intro img{
        width: 50%;
        
    }
    h1{
        width: 100%;
    }
    #intro p{
        padding-top: 2rem;
        width: 50%;
    }
}
/* desktop screens */
@media screen and (min-width:992px){
    main{
        margin: 1rem 20% 1rem;
    }
}