/* just the home page */
#home {
    display: flex;
    background-color: var(--nav-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
}

#first-sentence{
    color: var(--text-color);
    font-size: 1.9rem;
    margin: 5rem 1rem 5rem;
    margin-left: auto;
    margin-right: auto;
    
}

.highlighted{
    color: var(--brighter-color);
    font-size: 2.1rem;
}

#logo{
    display: inherit;
    justify-content: center;
}

#logo img{
    border-radius: 25%;
    border: 2px solid #66FCF1 ;
    width: 200px;
    background: (--brighter-color);
    box-shadow: 0 0 10px var(--brighter-color), 0 0 40px var(--brighter-color), 0 0 80px var(--brighter-color);
    
}

#button{
    text-align: center;
    padding: 1rem;
    background-color: #45A29E;
    cursor: pointer;
    border-radius: 1rem;
    transition: .8s;
    
}
#button a{
    text-decoration: none;
    color: var(--brighter-color);
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #eff;
}

#button:hover{
    box-shadow: 0 0 10px var(--brighter-color), 0 0 40px var(--brighter-color), 0 0 80px var(--brighter-color); 
    transform: scale(1.1) translate(1px,0px);
}