/* The colour palette */
:root {
    --primary-color: #1F2833;
    --background-color: #45A29E;
    --nav-color: #0B0C10;
    --brighter-color: #66FCF1;
    --text-color: #C5C6C7;
}

*{
    margin: 0;
}
/* main styles for the header and footer */

/* header */
body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: var(--background-color);
}

header{
    background-color: var(--nav-color);
    padding: 12px;
}
header img{
    width: 8rem;
    border:2px solid var(--brighter-color) ;
    border-radius: 25%;
    background: (--brighter-color);
    box-shadow: 0 0 10px var(--brighter-color), 0 0 40px var(--brighter-color)
}
.nav-items{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: .8rem;
    
}
.nav-items a {
    color: var(--brighter-color);
    text-decoration: none;
}

/* footer */
footer{
    background-color: var(--nav-color);
    padding: 1rem;

}

footer img{
    width: 3rem;
    background-color: var(--brighter-color);
    border-radius: 50%;
    
}
.social-media{
    display: flex;
    justify-content: space-around;
}
footer p {
    color: var(--brighter-color);
    padding: .2rem;
}
.copywrite{
    font-size: 12px;
}

/* just the home page */
#home {
    display: flex;
    background-color: var(--nav-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
}

#first-sentence{
    color: var(--text-color);
    font-size: 1.9rem;
    margin: 5rem 1rem 5rem;
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    
}

.highlighted{
    color: var(--brighter-color);
    font-size: 2.1rem;
}

#logo{
    display: inherit
    justify-content: center;
}

#logo img{
    border-radius: 25%;
    border: 2px solid #66FCF1 ;
    width: 200px;
    background: (--brighter-color);
    box-shadow: 0 0 10px var(--brighter-color), 0 0 40px var(--brighter-color), 0 0 80px var(--brighter-color);
    
}

#button{
    text-align: center;
    padding: 1rem;
    background-color: #45A29E;
    cursor: pointer;
    border-radius: 5%;
}
#button a{
    text-decoration: none;
    color: var(--brighter-color);
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1F2833;
}

#button:hover{
    background: (--brighter-color);
    box-shadow: 0 0 10px var(--brighter-color), 0 0 40px var(--brighter-color), 0 0 80px var(--brighter-color); 
    transition: .5s;
}


