main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.heading h1{
    margin-top: 1rem;
    color: var(--brighter-color);
    background-color: var(--primary-color);
    border-radius: 15px;
    width: 10rem;
    border: 2px solid var(--brighter-color);
    box-shadow: 10px 10px 5px 0px var(--nav-color);

}
section{
    border: 2px solid var(--brighter-color);
    background-color: var(--primary-color);
    margin: 2rem 2rem 1rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10%;
    box-shadow: 10px 10px 5px 0px var(--nav-color);
}
img{
    width: 50%;
    border-radius: 10%;
    border: 2px solid var(--background-color);
}
h3{
    color: var(--brighter-color);
}
p{
    color: var(--background-color);
}
/* Tablet Screen */
@media screen and (min-width:768px){
    .heading {
        top: 18%;
        font-size: 1rem;
        width: 100%;
        display: inherit;
        justify-content: center;
    }
    main{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    section{
        width: 19rem;
        height: 19rem;
    }
}
/* Desktop Screen */
@media screen and (min-width:992px){
   section{
    width: 25rem;
    height: 25rem;
    }
    section a img:hover{
        transform: rotate(360deg) scale(1.3);
        transition: 3s; 
    }
}
